pkgbase = zfsbootmenu-sb
	pkgdesc = Hooks for signing ZFSBootMenu for use with Secure Boot.
	pkgver = 0.3
	pkgrel = 2
	url = https://github.com/KorewaKiyo/zfsbootmenu-sb
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	depends = sbsigntools
	depends = perl
	optdepends = zfsbootmenu: For ZBM
	optdepends = zfsbootmenu-efi-bin: For ZBM
	source = git+https://github.com/KorewaKiyo/zfsbootmenu-sb.git#commit=d8b4f30c27380b8231c207fa7984527d085029a8
	sha256sums = SKIP

pkgname = zfsbootmenu-sb
